body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-container, .login-container, .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-message h1 {
  font-size: 3rem;
  color: #333;
}

.welcome-message p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.buttons .btn {
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons .btn:hover {
  background-color: #45a049;
}

.login-box, .signup-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.login-box h2, .signup-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.link {
  margin-top: 10px;
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #4CAF50;
}
